# Pandas Tuitorial (Day-11)
This notebook explain........

In [6]:
# install Libraries
#Pip install pandas
#pip install numpy

- Import Libraries

In [7]:
import pandas as pd
import numpy as np

In [8]:
#object Creation
s=pd.Series([1,3,np.nan,5,7,8,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [9]:
dates=pd.date_range("20210101",periods=20)

In [10]:
df=pd.DataFrame(np.random.randn(20,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-14  1.526743 -0.484809  0.328329  0.355098
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-20 -0.510467  0.058767 -0.943065  0.008670

In [11]:
dates=pd.date_range("20210101",periods=20)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df_1=pd.DataFrame(np.random.randn(20,5),index=dates,columns=list("ABCDE"))
df_1

                   A         B         C         D         E
2021-01-01 -0.948403 -0.317136  1.458986  0.377342  0.799741
2021-01-02 -0.532353 -0.586519  1.540188  0.966949  0.612554
2021-01-03  0.623306  0.933060 -1.611680 -0.350006  0.279593
2021-01-04  0.734156  0.146774  0.854386 -0.156909  0.434430
2021-01-05 -1.292917  0.069383 -0.649492  2.439101 -1.165432
2021-01-06 -0.911184  0.352259 -0.096223 -1.593520 -0.354829
2021-01-07 -0.644476  1.123988  1.261029 -2.814181 -1.136161
2021-01-08  1.714085  0.241015 -0.618496 -0.297774  1.179883
2021-01-09  1.107688  1.439952  0.251808  1.123166  0.572352
2021-01-10  0.566920  1.284609  0.106992 -0.025368 -1.996512
2021-01-11 -0.162002  1.405183 -0.953614 -0.013763  0.599173
2021-01-12 -0.557595 -1.311354 -2.030903 -2.895189 -1.362973
2021-01-13  0.088526  0.961126 -0.971327 -0.833665 -0.622185
2021-01-14 -2.105004  2.025208 -0.279804 -0.337144  0.746794
2021-01-15  0.211456  0.571840 -0.298390  2.341921  2.278799
2021-01-16 -0.286467  0.007862  1.048173 -0.267345  0.759405
2021-01-17 -0.436179 -0.090257  1.410550  0.334197  0.603455
2021-01-18  0.962515 -1.781851 -0.900032  0.261103  0.584560
2021-01-19  1.927579 -0.352241 -0.665861 -0.275918 -0.822172
2021-01-20  0.583074 -0.869425  1.009776 -0.245550 -0.547986

In [13]:
df_2=pd.DataFrame(
    {
    "A":1.0,
    "B":pd.Timestamp("20130102"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3] *4,dtype="int32"),
    "E":pd.Categorical(["test","train","test","train"]),
     "F":"foo"
}

)
df_2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df_2=pd.DataFrame(
    {
    "A":1.0,
    "B":pd.Timestamp("20220113"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3] *4,dtype="int32"),
    "E":pd.Categorical(["girl","woman","girl","woman"]),
     "F":"females"
}

)
df_2

     A          B    C  D      E        F
0  1.0 2022-01-13  1.0  3   girl  females
1  1.0 2022-01-13  1.0  3  woman  females
2  1.0 2022-01-13  1.0  3   girl  females
3  1.0 2022-01-13  1.0  3  woman  females

In [15]:
df_2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head()

                   A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269

In [17]:
df_2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [18]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-14  1.526743 -0.484809  0.328329  0.355098
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-20 -0.510467  0.058767 -0.943065  0.008670>

In [19]:
df_2.to_numpy

<bound method DataFrame.to_numpy of      A          B    C  D      E        F
0  1.0 2022-01-13  1.0  3   girl  females
1  1.0 2022-01-13  1.0  3  woman  females
2  1.0 2022-01-13  1.0  3   girl  females
3  1.0 2022-01-13  1.0  3  woman  females>

In [20]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.081859  -0.194430  -0.433251  -0.210653
std     1.020114   0.943194   1.045882   1.134134
min    -2.037021  -2.694343  -2.937221  -1.518269
25%    -0.726405  -0.524212  -0.950028  -0.934331
50%    -0.400762  -0.181684  -0.644314  -0.403204
75%     0.660221   0.234859   0.336602   0.052154
max     1.526743   1.687971   1.624070   3.408510

In [21]:
df_2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,woman,girl,woman
F,females,females,females,females

In [22]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-01-01 -1.183637  0.238630 -0.836144  0.385998
2021-01-02 -0.531375  1.624070 -0.642420  1.307235
2021-01-03 -0.334732 -0.449757 -2.694343 -0.607039
2021-01-04 -0.473044  0.618718 -0.259780 -2.037021
2021-01-05 -1.518269 -0.903618 -0.225024  0.264044
2021-01-06 -0.375431 -0.769082  1.687971 -1.387772
2021-01-07  0.025518 -1.901518  0.229822  1.477650
2021-01-08 -1.418259 -0.948528  0.586716  0.300399
2021-01-09 -0.582153 -0.623946  0.206740  1.228585
2021-01-10 -0.895693 -0.664682 -0.043326  0.860621
2021-01-11 -0.358163 -1.010440  1.029575 -0.422218
2021-01-12  1.364061  0.361420 -1.439238  0.593421
2021-01-13 -1.050245 -2.937221  0.787524 -0.703097
2021-01-14  0.355098  0.328329 -0.484809  1.526743
2021-01-15 -1.318921 -0.954527  0.249970 -1.140338
2021-01-16  3.408510 -0.294212 -0.449270 -0.379306
2021-01-17  0.963908  0.827859 -1.236189 -0.796329
2021-01-18  0.132061  0.870674 -0.138345 -0.659690
2021-01-19 -0.430977 -1.134127 -0.276794 -0.938600
2021-01-20  0.008670 -0.943065  0.058767 -0.510467

In [23]:
df.sort_values(by="B")

                   A         B         C         D
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-14  1.526743 -0.484809  0.328329  0.355098
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-20 -0.510467  0.058767 -0.943065  0.008670
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431

In [24]:
df.sort_values(by="A")

                   A         B         C         D
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-20 -0.510467  0.058767 -0.943065  0.008670
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-14  1.526743 -0.484809  0.328329  0.355098

In [25]:
df.sort_values(by="A",ascending=True)

                   A         B         C         D
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-20 -0.510467  0.058767 -0.943065  0.008670
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-14  1.526743 -0.484809  0.328329  0.355098

In [26]:
df["D"]

2021-01-01   -1.183637
2021-01-02   -0.531375
2021-01-03   -0.334732
2021-01-04   -0.473044
2021-01-05   -1.518269
2021-01-06   -0.375431
2021-01-07    0.025518
2021-01-08   -1.418259
2021-01-09   -0.582153
2021-01-10   -0.895693
2021-01-11   -0.358163
2021-01-12    1.364061
2021-01-13   -1.050245
2021-01-14    0.355098
2021-01-15   -1.318921
2021-01-16    3.408510
2021-01-17    0.963908
2021-01-18    0.132061
2021-01-19   -0.430977
2021-01-20    0.008670
Freq: D, Name: D, dtype: float64

In [27]:
#row wise selection
df[0:3]

                   A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732

In [28]:
df.loc[:,["A","B"]]

                   A         B
2021-01-01  0.385998 -0.836144
2021-01-02  1.307235 -0.642420
2021-01-03 -0.607039 -2.694343
2021-01-04 -2.037021 -0.259780
2021-01-05  0.264044 -0.225024
2021-01-06 -1.387772  1.687971
2021-01-07  1.477650  0.229822
2021-01-08  0.300399  0.586716
2021-01-09  1.228585  0.206740
2021-01-10  0.860621 -0.043326
2021-01-11 -0.422218  1.029575
2021-01-12  0.593421 -1.439238
2021-01-13 -0.703097  0.787524
2021-01-14  1.526743 -0.484809
2021-01-15 -1.140338  0.249970
2021-01-16 -0.379306 -0.449270
2021-01-17 -0.796329 -1.236189
2021-01-18 -0.659690 -0.138345
2021-01-19 -0.938600 -0.276794
2021-01-20 -0.510467  0.058767

In [29]:
df.loc[:,["A","B"]]

                   A         B
2021-01-01  0.385998 -0.836144
2021-01-02  1.307235 -0.642420
2021-01-03 -0.607039 -2.694343
2021-01-04 -2.037021 -0.259780
2021-01-05  0.264044 -0.225024
2021-01-06 -1.387772  1.687971
2021-01-07  1.477650  0.229822
2021-01-08  0.300399  0.586716
2021-01-09  1.228585  0.206740
2021-01-10  0.860621 -0.043326
2021-01-11 -0.422218  1.029575
2021-01-12  0.593421 -1.439238
2021-01-13 -0.703097  0.787524
2021-01-14  1.526743 -0.484809
2021-01-15 -1.140338  0.249970
2021-01-16 -0.379306 -0.449270
2021-01-17 -0.796329 -1.236189
2021-01-18 -0.659690 -0.138345
2021-01-19 -0.938600 -0.276794
2021-01-20 -0.510467  0.058767

In [32]:
df.loc[["20210102","20210104"], ["A","B","C"]]

                   A        B         C
2021-01-02  1.307235 -0.64242  1.624070
2021-01-04 -2.037021 -0.25978  0.618718

In [33]:
df.loc["20210117",["A","B","C"]]

A   -0.796329
B   -1.236189
C    0.827859
Name: 2021-01-17 00:00:00, dtype: float64

In [34]:
df.at[dates[18],"A"]

-0.9386004317115617

In [35]:
df.iloc[3]

A   -2.037021
B   -0.259780
C    0.618718
D   -0.473044
Name: 2021-01-04 00:00:00, dtype: float64

In [36]:
df.iloc[3:10]

                   A         B         C         D
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693

In [38]:
df.iloc[0:5,0:3]

                   A         B         C
2021-01-01  0.385998 -0.836144  0.238630
2021-01-02  1.307235 -0.642420  1.624070
2021-01-03 -0.607039 -2.694343 -0.449757
2021-01-04 -2.037021 -0.259780  0.618718
2021-01-05  0.264044 -0.225024 -0.903618

In [39]:
#Boolean
df[df["A"]>0]

                   A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-14  1.526743 -0.484809  0.328329  0.355098

In [40]:
df[df["A"]>1.5]

                   A         B         C         D
2021-01-14  1.526743 -0.484809  0.328329  0.355098

In [41]:
df2=df.copy()

In [43]:
df2["E"]=["one","two","three","four","five","six","one","two","three","four","five","six","one","two","three","four","five","six","five","six"]
df2

                   A         B         C         D      E
2021-01-01  0.385998 -0.836144  0.238630 -1.183637    one
2021-01-02  1.307235 -0.642420  1.624070 -0.531375    two
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732  three
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044   four
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269   five
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431    six
2021-01-07  1.477650  0.229822 -1.901518  0.025518    one
2021-01-08  0.300399  0.586716 -0.948528 -1.418259    two
2021-01-09  1.228585  0.206740 -0.623946 -0.582153  three
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693   four
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163   five
2021-01-12  0.593421 -1.439238  0.361420  1.364061    six
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245    one
2021-01-14  1.526743 -0.484809  0.328329  0.355098    two
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921  three
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510   four
2021-01-17 -0.796329 -1.236189  0.827859  0.963908   five
2021-01-18 -0.659690 -0.138345  0.870674  0.132061    six
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977   five
2021-01-20 -0.510467  0.058767 -0.943065  0.008670    six

In [ ]:
df2["new"]=

In [45]:
df2=df2.iloc[:,0:4]
df2

                   A         B         C         D
2021-01-01  0.385998 -0.836144  0.238630 -1.183637
2021-01-02  1.307235 -0.642420  1.624070 -0.531375
2021-01-03 -0.607039 -2.694343 -0.449757 -0.334732
2021-01-04 -2.037021 -0.259780  0.618718 -0.473044
2021-01-05  0.264044 -0.225024 -0.903618 -1.518269
2021-01-06 -1.387772  1.687971 -0.769082 -0.375431
2021-01-07  1.477650  0.229822 -1.901518  0.025518
2021-01-08  0.300399  0.586716 -0.948528 -1.418259
2021-01-09  1.228585  0.206740 -0.623946 -0.582153
2021-01-10  0.860621 -0.043326 -0.664682 -0.895693
2021-01-11 -0.422218  1.029575 -1.010440 -0.358163
2021-01-12  0.593421 -1.439238  0.361420  1.364061
2021-01-13 -0.703097  0.787524 -2.937221 -1.050245
2021-01-14  1.526743 -0.484809  0.328329  0.355098
2021-01-15 -1.140338  0.249970 -0.954527 -1.318921
2021-01-16 -0.379306 -0.449270 -0.294212  3.408510
2021-01-17 -0.796329 -1.236189  0.827859  0.963908
2021-01-18 -0.659690 -0.138345  0.870674  0.132061
2021-01-19 -0.938600 -0.276794 -1.134127 -0.430977
2021-01-20 -0.510467  0.058767 -0.943065  0.008670